@model IEnumerable<VehicleTracking.Models.VehicleModel>

@{
    ViewData["Title"] = "Home page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="lib/signalr/signalr.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:5001/VehicleStatusHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start().then(function () {
        console.log("connected");
    });

    connection.on("ReceiveStatusChanges", (vehicleData) => {
        var vehicleTd = $('#' + vehicleData.regNr + vehicleData.vehicleNumber);

        if (vehicleData.status == 'Connected') {
            $(vehicleTd).html('Connected')
                .parent('tr')
                .removeClass('danger')
                .addClass('success');
        }
        else {
            $(vehicleTd).html('Not Connected')
                .parent('tr')
                .removeClass('success')
                .addClass('danger');
        }
    });
</script>
<br />
<div class="row">
    <div class="col-xs-9">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegNr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var statusClass = item.Status == "Connected" ? "success" : "danger";
                    <tr class="@statusClass">
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td id="@(item.RegNr + item.VehicleNumber)">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

