@model IEnumerable<VehicleTracking.Models.VehicleViewModel>

@{
    ViewData["Title"] = "Vehicle Tracking";
}
<link href="~/css/mysite.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="lib/signalr/signalr.js"></script>

<script>
    var vehicleHubUrl = '@ViewBag.VehicleHub';
    const connection = new signalR.HubConnectionBuilder()
        .withUrl(vehicleHubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start().then(function () {
        console.log("connected");
    });

    connection.on("ReceiveStatusChanges", (vehicleData) => {
        var vehicleTd = $('#' + vehicleData.regNr + vehicleData.vehicleNumber);

        if (vehicleData.status == 'Connected') {
            $(vehicleTd).html('Connected')
                .parent('tr')
                .removeClass('danger')
                .addClass('success');
        }
        else {
            $(vehicleTd).html('Disconnected')
                .parent('tr')
                .removeClass('success')
                .addClass('danger');
        }
    });


    $(function () {
        $('#BtnFilter').click(function () {
            var filter = $('#txtFilter').val();
            var status = $('#ddlStatus').val();

            $.ajax({
                url: '/Home/Filter',
                type: 'GET',
                data: {
                    filter: filter,
                    status: status
                }
            }).done(function (result) {
                $('#vehiclesList').html(result);
            });
        });
    });
</script>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input id="txtFilter" type="text" class="form-control" placeholder="Search" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <div class="form-horizontal" role="form">
                                    <form class="form-group">
                                        <label for="filter">Status</label>
                                        <select id="ddlStatus" class="form-control">
                                            <option value="" selected>All</option>
                                            <option value="Connected">Connected</option>
                                            <option value="Disconnected">Disconnected</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="BtnFilter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div id="vehiclesList">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.VehicleNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RegNr)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var statusClass = item.Status == "Connected" ? "success" : "danger";
                            <tr class="@statusClass">
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegNr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td id="@(item.RegNr + item.VehicleNumber)">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>