@model IEnumerable<VehicleTracking.Models.VehicleModel>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegNr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var statusClass = item.Status == "Connected" ? "success" : "danger";
                    <tr class="@statusClass">
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td id="@(item.RegNr + item.VehicleNumber)">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>